*{
    margin: 0;
    padding: 0;
}

body{
    background: url(takagi.svg) repeat;
    background-size: 30%;
}

.side {
    background-color: rgb(240, 240, 255);
    border-right: 2px double #000000;
    width: 260px;
    height: auto;
    min-height: 100%;
    float: left;
    position: fixed;
}

ul {
    padding-top: 23px;
}

li {
    padding-top: 32px;
    padding-left: 23px;
    text-align: start;
    list-style-type: none;
    font-size: 16px;
    font-style: normal;
}

span {
    padding-right: 4px;
}

.topspan {
    color: rgb(255, 204, 204);
}

.moviespan {
    color: rgb(0, 255, 0);
}

.doramaspan {
    color: rgb(51, 255, 255);
}

.stagespan {
    color: rgb(0, 153, 255);
}

.photospan {
    color: rgb(0, 0, 255);
}

.bookspan {
    color: rgb(51, 51, 153);
}

.managerspan {
    color: rgb(204, 0, 204);
}

.main {
    margin-left: 260px;
    padding-left:8%; 
    float: left;
}

main {
    display: flex;
}

.introduce {
    padding-top: 20px;
    padding-left: 30px;
}

p {
    padding: 1px;
}

.english-sentence {
    padding-top: 80px;
}

.mail {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    padding-top: 50px;
}

.information {
    padding-top: 30px;
    padding-bottom: 50px;
}

hr {
    font-size: medium;
    border-spacing: 2px;
}

.title {
    padding-top: 10px;
}

.page {
    padding-top: 10px;
    padding-left: 80px;
    padding-bottom: 30px;
}